﻿@model Assignmentpro.Models.authorname
@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h3 style="font-family:'Levenim MT'; font-size:60px; text-align:center;">Insert Author name</h3>
    </div>
    <p style="font-family:Andalus; color:blue;">@ViewBag.mess</p>
        @{
            using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.Label("Enter Author name: ")
                    @Html.TextBoxFor(x => x.authornam, null, new { @class="form-control"})
                    <p style="color:red;">@Html.ValidationMessageFor(x => x.authornam)</p>
                </div>
            <div class="form-group">
                @Html.Label("Enter author age: ")
                @Html.TextBoxFor(x => x.authorage, null, new { @class="form-control"})
                <p style="color:red;">@Html.ValidationMessageFor(x =>x.authorage)</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary" />
            </div>
            }
            
        }
 
       </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>