﻿@model Assignmentpro.Models.Class1
@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h3 style="font-family:'Levenim MT'; font-size:60px; text-align:center;">Insert Books Info</h3>
    </div>
    <p style="font-family:Andalus; color:blue;">@ViewBag.ins</p>

    @{
        using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
        {
            <div class="form-group">
                @Html.Label("Select Author name: ")
                @Html.DropDownListFor(x => x.auth_id, @ViewBag.name as SelectList, "-select-", new { @class="form-control"})
                <p style="color:red;">@Html.ValidationMessageFor(x => x.auth_id)</p>
            </div>
        <div class="form-group">
            @Html.Label("Enter Book name: ")
            @Html.TextBoxFor(x => x.bookname, null, new {@class="form-control"})
            <p style="color:red;">@Html.ValidationMessageFor(x => x.bookname)</p>
        </div>
        <div class="form-group">
            @Html.Label("Enter Book price: ")
            @Html.TextBoxFor(x => x.price, null, new {@class="form-control"})
            <p style="color:red;">@Html.ValidationMessageFor(x => x.price)</p>
        </div>
        <div class="form-group">
            @Html.Label("Enter Book Type: ")
            @Html.TextBoxFor(x => x.booktype, null, new {@class="form-control"})
            <p style="color:red;">@Html.ValidationMessageFor(x => x.booktype)</p>
        </div>
        <div class="form-group">
        <input type="submit" value="Go" class="btn btn-primary" />   
                </div>

        }
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
