﻿
@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h3 style="font-family:'Levenim MT'; font-size:60px; text-align:center;">Book Assignment</h3>
    </div>
</div>



