﻿@model IEnumerable<Assignmentpro.Models.authorinfo>
@{
    ViewBag.Title = "select";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h3 style="font-family:'Levenim MT'; font-size:60px; text-align:center;">Update Books Info</h3>
    </div>
    <form method="post">
        @{
            foreach (var item in Model)
            {
                <div class="form-group">
                    <input type="hidden" value="@item.id" name="id" />
                </div>
                
        <div class="form-group">
            <label>Update Book Price</label>
            <input type="text" name="price" value="@item.price" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-danger" />
        </div>
                
            }
        }
    </form>
</div>
