﻿@model IEnumerable<Assignmentpro.Models.authorinfo>
@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}
<div class="container">
    <form method="post">
        <table class="table table-bordered">
            <tr>
                <th>Author Id</th>
                <th>Book name</th>
                <th>Book price</th>
                <th>Book type</th>
                <th><input type="submit" value="Delete" class="btn btn-danger"/></th>
                <th>Update</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.auth_id</td>
                        <td>@item.bookname</td>
                        <td>@item.price</td>
                        <td>@item.booktype</td>
                        <th><input type="checkbox" value="@item.auth_id" name="chkid" /></th>
                        <th><a href="@Url.Action("select", "Book", new { id=@item.id})" class="btn btn-info">Update</a></th>
                    </tr>
                }
            }

        </table>

    </form>
</div>


