﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="@Url.Content("~/Content/")vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/Content/")vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="@Url.Content("~/Content/")vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/Content/")css/sb-admin.css" rel="stylesheet">

</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="@Url.Action("Index","Book")">Assignment</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>

       
    </nav>
    <div id="wrapper">
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>College Assignment</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Author</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="@Url.Action("AddAuthor","Book")">Add author name</a>
                     </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AddInfo","Book")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Add Book Info</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowInfo","Book")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Show Book Info</span>
                </a>
            </li>
           
        </ul>
        <div id="content-wrapper">
            @RenderBody()
        </div>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2018</span>
                </div>
            </div>
        </footer>

        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="@Url.Content("~/Content/")vendor/jquery/jquery.min.js"></script>
        <script src="@Url.Content("~/Content/")vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="@Url.Content("~/Content/")vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="@Url.Content("~/Content/")vendor/chart.js/Chart.min.js"></script>
        <script src="@Url.Content("~/Content/")vendor/datatables/jquery.dataTables.js"></script>
        <script src="@Url.Content("~/Content/")vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="@Url.Content("~/Content/")js/sb-admin.min.js"></script>

        <!-- Demo scripts for this page-->
        <script src="@Url.Content("~/Content/")js/demo/datatables-demo.js"></script>
        <script src="@Url.Content("~/Content/")js/demo/chart-area-demo.js"></script>
</body>
</html>
